.login-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#f4f6f9;
}

.login-box{
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
width:320px;
text-align:center;
}

.login-box h2{
margin-bottom:20px;
color:#0d6efd;
}

.login-box input{
width:100%;
padding:10px;
margin:10px 0;
border:1px solid #ccc;
border-radius:6px;
}

.login-box button{
width:100%;
padding:10px;
background:#0d6efd;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}

.login-box button:hover{
background:#084fc7;
}